<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Racecar-machfive by teran</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Mach-Five's 6.S184 Report</h1>
      <h2 class="project-tagline"></h2>
      <a href="https://github.mit.edu/teran/racecar-MachFive" class="btn">View on GitHub</a>
    </section>

    <section class="main-content">

<p>This is team MachFive's project report for IAP 2018 RACECAR.</p>

<h3><a id="designer-templates" class="anchor" href="#designer-templates" aria-hideen="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Team Members</h3>

<ul>
	<li>Alon Kosowsky-Sachs</li>
	<li>Danilo Roascio</li>
	<li>Jack Strang</li>
	<li>Antonio Terán Espinoza</li>
</ul>

<h3><a id="designer-templates" class="anchor" href="#designer-templates" aria-hideen="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Results</h3>

<p> <strong>Winners</strong> of the 2018 IAP edition, with a record time of <strong>32.724 seconds</strong>. Our remaining timed laps were: </p>

<ul>
	<li>33.242 seconds</li>
	<li>33.712 seconds</li>
	<li>33.973 seconds</li>
	<li>34.874 seconds</li>
</ul>

<p>Here's a video of our runs:</p>

<div style="text-align: center;">
<iframe src="https://www.youtube.com/embed/oIb0XtrPWFs"
	width="768" height="408" frameborder="0" allowfullscreen></iframe></div>


<h3>
<a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Approach</h3>

<p> The idea behind our controller is to always navigate parallel to the wall at a given distance. In order to achieve this, we want to angle away from the wall when we are too close, parallel to the wall when at the appropriate distance, and towards the wall when we are too far; this behaviour is depicted in the image below. </p>

<div style="text-align: center;">
<img src="https://raw.githubusercontent.com/tonioteran/racecar-mit-nn/master/figures/car_directions.png" class="img-responsive" alt="car movement direction"> </div>

<p> We use a proportional controller to set our rotational velocity to meet the desired angle and set the desired angle proportional to the error in our desired distance from the wall. This control scheme allowed the car to drive without oscillating around the desired distance. </p>

<p> Additionally, for this controller to work, we need to know the robot's angle relative to the right wall and its distance from the right wall. To do this, we sweep the LiDAR on the right side (as shown in the image below) and compute a linear regression through the points. Using the slope and intercept of this line, the robot can estimate its distance and angle to the wall.  </p>

<div style="text-align: center;">
	<img src="https://raw.githubusercontent.com/tonioteran/racecar-mit-nn/master/figures/LiDAR_right.png" alt="LiDAR sweep example" height="360"></div>

<p> This control scheme lets us gracefully turn. At a left turn, the regression will cause the car to think that the right wall is where the dotted red line in the picture below is. This will cause the robot to turn to the left. As the robot turns, the top wall will dominate the sweep, causing the regression to match the top wall, thus forcing the robot to follow the top wall. </p>

<div style="text-align: center;">
<img src="https://raw.githubusercontent.com/tonioteran/racecar-mit-nn/master/figures/left_turn.png" class="img-responsive" alt="car turning left" height="400"> </div>

<p> A similar mechanism occurs at a right turn; the regression cuts across the corner so the robot will turn across the corner, as is shown in the image below. </p>

<div style="text-align: center;">
<img src="https://raw.githubusercontent.com/tonioteran/racecar-mit-nn/master/figures/right_turn.png" class="img-responsive" alt="car turning right" height="400"> </div>



      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.mit.edu/teran/racecar-MachFive">Racecar-machfive</a> is maintained by <a href="https://github.mit.edu/teran">teran</a>, <a href="https://github.mit.edu/jstrang">jstrang</a>, <a href="https://github.mit.edu/roascio">roascio</a>, and <a href="https://github.mit.edu/alonks">alonks</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
